{% extends 'layout.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-success table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in motorpara.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  <form method="post" action="{{ url_for('speedTorqueChracterstics') }}">
    <button type="submit">Next</button>
  </form>
</div>



{% endblock %}