{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <h1>Drive Cycle Forces</h1>
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>Acceleration Force</h2>
        </div>
        <div class="card-body">
          <canvas id="acceleration-chart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>Drag Force</h2>
        </div>
        <div class="card-body">
          <canvas id="drag-chart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>Weight Force</h2>
        </div>
        <div class="card-body">
          <canvas id="weight-chart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>Rolling Force</h2>
        </div>
        <div class="card-body">
          <canvas id="rolling-chart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>



    <!-- Include Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      // Define the data for each chart
      var time = {{ df['Time [s]'].tolist()|safe }};
      var speed = {{ df['Speed [km/h]'].tolist()|safe }};
      var acceleration = {{ df['Acceleration'].tolist()|safe }};
      var force_acceleration = {{ df_force_analysis['Force_Acceleration'].tolist()|safe }};
      var force_drag = {{ df_force_analysis['Force_Drag'].tolist()|safe }};
      var force_weight = {{ df_force_analysis['Force_Weight'].tolist()|safe }};
      var force_rolling = {{ df_force_analysis['Force_Rolling_Resistance'].tolist()|safe }};
      var accelerationData = {
        labels: time,
        datasets: [{
          label: 'Acceleration Force',
          data: force_acceleration,
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgba(255, 99, 132, 1)',
          borderWidth: 1
        }]
      };

      var dragData = {
        labels: time ,
        datasets: [{
          label: 'Drag Force',
          data: force_drag,
          backgroundColor: 'rgba(54, 162, 235, 0.2)',
          borderColor: 'rgba(54, 162, 235, 1)',
          borderWidth: 1
        }]
      };

      var weightData = {
        labels: time,
        datasets: [{
          label: 'Weight Force',
          data: force_weight,
          backgroundColor: 'rgba(255, 206, 86, 0.2)',
          borderColor: 'rgba(255, 206, 86, 1)',
          borderWidth: 1 }]
      };

      var rollingData = {
        labels: time,
        datasets: [{
          label: 'Rolling Force',
          data: force_rolling ,
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      };

      // Get the chart canvases
      var accelerationChart = document.getElementById('acceleration-chart').getContext('2d');
      var dragChart = document.getElementById('drag-chart').getContext('2d');
      var weightChart = document.getElementById('weight-chart').getContext('2d');
      var rollingChart = document.getElementById('rolling-chart').getContext('2d');

      // Create the charts
      var accelerationChart = new Chart(accelerationChart, {
        type: 'line',
        data: accelerationData,
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

      var dragChart = new Chart(dragChart, {
        type: 'line',
        data: dragData,
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

      var weightChart = new Chart(weightChart, {
        type: 'line',
        data: weightData,
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });

      var rollingChart = new Chart(rollingChart, {
        type: 'line',
        data: rollingData,
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    </script>

{% endblock content %}
